@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  list-style: none;
  font-family: 'Josefin Sans', sans-serif;
}

body {
    /* The image used */
    background-image: url("../images/bar.png");

    /* Full height */
    /* height: 120vw; */

    /* Center and scale the image nicely */
    /* background-position: center;
    background-repeat: no-repeat; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
}

.wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 80%;
  display: flex;
  box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
}

.wrapper .left{
  width: 35%;
  background: linear-gradient(to right,#9d0b0b,red);
  padding: 30px 25px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  color: #fff;
}

.wrapper .left img{
  border-radius: 5px;
  margin-bottom: 10px;
  width: 13vw;
}

.wrapper .left h4{
  margin-bottom: 10px;
  font-size: 2vw;
}

.wrapper .rightUser{
  width: 65%;
  background: white;
  padding: 30px 25px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.wrapper .rightUser .info,
.wrapper .rightUser .history{
  margin-bottom: 25px;
}

.wrapper .rightUser .info h3,
.wrapper .rightUser .history h3{
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e0e0e0;
    color: #353c4e;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 2vw;
}

.wrapper .rightUser .info_data,
.wrapper .rightUser .history_data{
  display: flex;
  justify-content: space-between;
}

.wrapper .rightUserUser .info_data .data,
.wrapper .rightUserUser .history_data .data{
  width: 45%;
}

.wrapper .rightUser .info_data .data h4,
.wrapper .rightUser .history_data .data h4{
    color: #353c4e;
    margin-bottom: 5px;
    font-size: 1.5vw;
}

.wrapper .rightUser .info_data .data p,
.wrapper .rightUser .history_data .data p{
  font-size: 1.3vw;
  margin-bottom: 10px;
  color: #919aa3;
}

.booking-btn {
    background-color: #9d0b0b;
}

.booking-btn a {
    color: white;
    font-size: 1.5vw;
}

.booking-btn:hover {
    background-color: black;
} 