/* .logo {
    margin-top: 1.8vw;
    font-size: 1.5vw;
} */

#registration {
    background-color: black;
    /* height: 100vw; */
    text-align: center;
}

#registration .registration-head {
    font-family: 'DM Mono', monospace;
    font-size: 5vw;
    letter-spacing: 2px;
    display: inline-block;
    color: #414141;
    font-weight: lighter;
}

#registration input[type="file"] {
    background-color: black;
}

#registration input[type="file"]:hover {
    cursor: pointer;
}

#registration .input-group-append {
    width: 26.5%;
}

#registration .file:hover {
    background-color: black;
}

#registration .registration-form {
    font-size: larger;
    background-color: black;
    border: 2px solid #9d0b0b;
    border-radius: 4px;
}

#registration .registration-form:focus {
    background-color: #fee9d7;
    border: 2px solid black;
}

#registration .form-row {
    margin: 0;
    padding-bottom: 0;
}

#registration .form-margin {
    margin-top: 1%;
}

#registration .register-form {
    margin: 0.5% 10% 3%;
    color: white;
    text-align: left;
}