#register {
    background-color: black;
    /* height: 100vw; */
    text-align: center;
}

#register .register-form {
    margin: 0.5% 10% 3%;
    color: white;
    text-align: left;
}

#register h1 {
    font-family: 'DM Mono', monospace;
    font-size: 5.3vw;
    letter-spacing: 2px;
    display: inline-block;
    color: #414141;
    font-weight: lighter;
}

#register .form-control {
    font-size: larger;
    background-color: black;
    border: 2px solid #9d0b0b;
    border-radius: 4px;
}

#register .form-control:focus {
    background-color: #fee9d7;
    border: 2px solid black;
}

#register .form-row {
    margin: 0;
    padding-bottom: 0;
}

#register .form-margin {
    margin-top: 1%;
}

#register .form-check-label, #register .form-check-input {
    font-size: 1.1vw;
}
